<%- include('head'); -%>
<%- include('header'); -%>
<main>
    <h1 class="main">Registro de Ambiente</h1>
    <h6> Selecione a sala que você quer reservar</h2>
    <div class="salas">
        <form action="/ambiente" method="POST" class="form-ambiente">
            <label for="Professor">Nome do Professor:</label><input type="text" id="Professor" name="Professor" required>
            <label for="Sala">Sala:</label><input type="text" id="Sala" name="Sala" required>
            <div>
                <label for="hora_inicial">Horário Inicial:</label><input type="time" id="hora_inicial" name="hora_inicial" required>
                <label for="hora_final">Horário Final:</label><input type="time" id="hora_final" name="hora_final" required> 
            </div>
            <label for="Sala">Data:</label><input type="date" id="Data" name="Data" required>
            <button type="submit" class="btn btn-success">Reservar Sala</button>
        </form>
    </div>
    <h1>Reservas</h1>
    <div class="row">
    <% for(let x = 0; x < listaAmbiente.length; x++){ %>
        <div style="box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.053);padding:20px;">
            <h6><%- listaAmbiente[x].Professor  -%> (Sala: <%- listaAmbiente[x].Sala  -%>)</h6>
            <p style="font-size:15px;text-align:center;"><strong><%- listaAmbiente[x].hora_inicial -%></strong> até <strong><%- listaAmbiente[x].hora_final -%></strong></p>
            <p style="font-size:15px;text-align:center;"><%- listaAmbiente[x].Data -%></p>
        </div>
    <% } %>
    </div>
</main>

<%- include('scripts'); -%>