<%- include('head'); -%>
<%- include('header'); -%>
<section class="home-slider owl-carousel img" style="background-image: url(images/Classificados.jpg);">
  <div class="slider-item" style="background-image: url(images/Classificados.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">
        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Classificados</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Classificados</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <h1>PRODUTOS</h1>
  <div class="row">
    <% for(let x = 0; x < listaClassificado.length; x++){ %>
      
      <div class="card">
        <h5>Contato</h5>
        <h6><strong>Vendedor:</strong> <%- listaClassificado[x].nomeVendedor  -%></h6>
        <h6><strong>Telefone:</strong> <%- listaClassificado[x].tel  -%></h6>
        <h6><strong>Email:</strong> <%- listaClassificado[x].email  -%></h6>
        <br>
        <h5>Produto</h5>
        <h6><%- listaClassificado[x].nomeProduto  -%></h6>
        <p>R$<%- listaClassificado[x].precoProduto.toFixed(2)  -%></p>
        <p><strong>Descrição:</strong> <%- listaClassificado[x].descricao  -%></p>
      </div>
      
      <% } %>
    </div>
  </main>
  <%- include('footer'); -%>
  <%- include('scripts'); -%>